<!-- nav -->
<nav class="p-4 lg:p-6 xl:p-6 2xl:p-6 bg-gray-100 shadow-md sticky top-0 mb-4">
    <div class="max-w-lg lg:max-w-5xl mx-auto px-4">
        <div class="flex justify-between items-center">
            <!-- logo area -->
            <a class="font-bold p-2 rounded hover:bg-gray-200 hover:rounded">Home</a>
            <!-- primary right nav-->
            <div class="flex  space-x-3 ">
                <a href="#" class="hidden md:flex p-2 text-gray-700 hover:bg-gray-200 hover:rounded">About</a>
                <a href="#" class="hidden md:flex p-2 text-gray-700 hover:bg-gray-200 hover:rounded">Contact</a>

            </div>
            <!-- mobile button -->
            <div class="md:hidden flex items-center">
                <button class="mobile-menu-btn">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>


            </div>
        </div>
    </div>
    <!-- mobile menu -->
    <div class="mobile-menu hidden md:hidden">
        <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">About</a>
        <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">Contact</a>
    </div>
</nav>
<script>
    const btn = document.querySelector('button.mobile-menu-btn');
    const menu = document.querySelector('div.mobile-menu');

    btn.addEventListener('click', () => {
        menu.classList.toggle('hidden');
    });
</script>