<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
    type="text/css" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' }}">
  <script src="http://127.0.0.1:35729/livereload.js"></script>
</head>

<body class="bg-gradient-to-b from-blue-200 to-green-500">
  <!-- Navigation bar-->
  {% include header.html %}

  <!-- Content -->
    <main id="content" role="main">
      <div class="container mx-auto px-4 my-auto">
        {{ content }}
      </div>
    </main>
  <footer class="">
  </footer>
</body>

</html>